@import 'tailwindcss';

@layer reset {
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  html {
    isolation: isolate;
  }
}

@theme {
  --font-domaine: 'DomaineText', DomaineFallback, serif;
  --accent: oklch(52% 49% 258deg);
}

body {
  background: url('/backdrop.jpg') no-repeat center/cover fixed;
}

::-webkit-scrollbar {
  width: 1.5em;
  height: 2em;
}

::-webkit-scrollbar-track-piece {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
}
