---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'

export function getStaticPaths() {
  const flicks = import.meta.glob('../assets/flicks/*.{jpeg,jpg,png}', {
    eager: false,
  })

  const paths = Object.keys(flicks).map((f) => ({
    params: {
      flick: f.replace('../assets/flicks/', ''),
    },
  }))

  return paths
}

const { flick } = Astro.params
const src = import(`../assets/flicks/${flick.slice(0, -4)}.jpg`)
---

<Layout>
  <Header />
  <figure
    class="flex justify-center h-[calc(100%-8rem)] w-full"
    transition:name={flick}
  >
    <div class="absolute top-0 left-0 w-[100vw] h-[100vh] -z-10" id="bg"></div>
    <Image
      src={src}
      alt="Flick"
      class="border-2 md:border-4 md:border-x-6 border-pink-500 m-4 max-h-full w-auto"
    />
  </figure>
  <script>
    import { navigate } from 'astro:transitions/client'

    // Clicking on the background or pressing escape will navigate back to the gallery
    document.addEventListener('astro:page-load', () => {
      const bg = document.getElementById('bg')
      if (bg) {
        bg.addEventListener('click', function () {
          navigate('/')
        })
      }

      document.addEventListener('keydown', function (event) {
        if (event.key === 'Escape') {
          navigate('/')
        }
      })
    })
  </script>
</Layout>
