---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'

export function getStaticPaths() {
  const flicks = import.meta.glob('../assets/flicks/*.{jpeg,jpg,png}', {
    eager: false,
  })

  const paths = Object.keys(flicks).map((f) => ({
    params: {
      flick: f.replace('../assets/flicks/', ''),
    },
  }))

  return paths
}

const { flick } = Astro.params
const src = import(`../assets/flicks/${flick.slice(0, -4)}.jpg`)
---

<Layout>
  <Header />
  <figure
    class="flex justify-center h-[calc(100%-8rem)] w-full"
    transition:name={flick}
  >
    <div class="m-4 max-h-full w-auto">
      <Image
        src={src}
        alt="Flick"
        id="flick"
        class="border-2 md:border-4 md:border-x-6 border-pink-500 w-full h-full"
      />
    </div>
  </figure>
  <script>
    import { navigate } from 'astro:transitions/client'

    // Clicking on the background or pressing escape will navigate back to the gallery
    document.addEventListener('click', (event) => {
      const target = document.querySelector('#flick') // Assumed that background = anything not the image
      const withinBoundaries = event.composedPath().includes(target!)
      const clickedButton = event
        .composedPath()
        .some(
          (element) =>
            element instanceof HTMLButtonElement ||
            (element instanceof HTMLAnchorElement && element.href)
        )

      if (
        !withinBoundaries &&
        !clickedButton &&
        window.location.href.slice(-4) === '.jpg'
      ) {
        console.log('Navigating back to gallery')
        navigate('/')
      }
    })

    document.addEventListener('keydown', function (event) {
      if (event.key === 'Escape' && window.location.href.slice(-4) === '.jpg') {
        console.log('Esc key pressed, navigating back to gallery')
        navigate('/')
      }
    })
  </script>
</Layout>
