---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'

const flicks = Object.values(
  import.meta.glob<{ default: ImageMetadata }>(
    '../assets/flicks/*.{jpeg,jpg,png}',
    {
      eager: true,
    }
  )
)
---

<section>
  <div class="columns-2 lg:columns-3 xl:columns-5 lg:gap-6 xl:gap-8 mr-8">
    {
      flicks.map((img) => (
        <a
          href={
            import.meta.env.PROD
              ? '/' +
                img.default.src.split('/_astro/')[1].split('.')[0] +
                '.jpg'
              : img.default.src.match(/\/flicks\/([^?]+)/)?.[1]
          }
          transition:name={
            import.meta.env.PROD
              ? img.default.src.split('/_astro/')[1].split('.')[0] + '.jpg'
              : img.default.src.match(/\/flicks\/([^?]+)/)?.[1]
          }
        >
          <Image
            src={img.default}
            alt="Flick"
            class="border-2 md:border-4 md:border-x-6 border-pink-500 m-4 w-full"
          />
        </a>
      ))
    }
  </div>
</section>
