---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'

const flicks = Object.values(
  import.meta.glob<{ default: ImageMetadata }>(
    '../assets/flicks/*.{jpeg,jpg,png}',
    {
      eager: true,
    }
  )
)
---

<section>
  <div class="md:columns-2 xl:columns-4 3xl:columns-4 lg:gap-6 xl:gap-8 pr-8">
    {
      flicks.map((img) => (
        <a href={img.default.src.match(/\/flicks\/([^?]+)/)?.[1]}>
          <Image
            src={img.default}
            alt="Flick"
            class="border-2 md:border-4 md:border-x-6 border-pink-500 m-4"
          />
        </a>
      ))
    }
  </div>
  <script>
    const play = (sound: string) => {
      const click = new Audio(`/sfx/${sound}.mp3`)
      click.play()
    }

    document.addEventListener('astro:page-load', () => {
      const anchors = document.querySelectorAll('a')
      anchors.forEach((i) => {
        i.addEventListener('click', (e) => play('click'))
      })

      const flicks = document.querySelectorAll('img')
      flicks.forEach((i) => {
        i.addEventListener('click', (e) =>
          setTimeout(
            () => play('shutter'),
            Math.floor(Math.random() * 401) + 400
          )
        )
      })
    })
  </script>
</section>
